body {
    background-color: navy;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    background-color: navy;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
h1 {
    background-color: white;
    color: navy;
    padding: 15px;
    border-radius: 20px;
    display: inline-block;
}
.welcome {
    text-align: left;
    margin: 0 auto;
    padding: 10px;
}
h2 {
    background-color: white;
    color: navy;
    padding: 15px;
    display: inline-block;
    border-radius: 20px;
}
.messageSection {
    border-radius: 20px;
    padding: 50px;
    text-align: center;

}
 #messageButton, #resetMessage {
    background-color: orange;
    color: black;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;

}
.messageArea {
    border: 2px solid black;
    border-radius: 20px;
    color: navy;
    background-color: white;
}


